a-pytube-fork-for-spotdl-users==9.6.4
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
Brlapi==0.7.0
Brotli==1.0.9
bs4==0.0.1
cachetools==4.2.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
chart-studio==1.1.0
chrome-gnome-shell==0.0.0
chromedriver-install==1.0.3
click==7.1.2
colorama==0.4.3
command-not-found==0.3
cryptography==3.0
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
Deprecated==1.2.10
distlib==0.3.1
distro==1.5.0
distro-info===0.23ubuntu1
docutils==0.16
duplicity==0.8.12.0
entrypoints==0.3
envs==1.2.6
fake-useragent==0.1.11
fasteners==0.14.1
feedgenerator==1.9
filelock==3.0.12
Flask==1.1.2
Flask-Compress==1.8.0
Flask-SeaSurf==0.2.2
future==0.18.2
gazpacho==1.1
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
greenlet==0.4.17
gunicorn==20.0.4
gyp==0.1
httplib2==0.18.1
idna==2.10
importlib-metadata==1.6.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
keyring==21.3.0
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.5
llvmlite==0.35.0
lockfile==0.12.2
louis==3.14.0
macaroonbakery==1.3.1
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
monotonic==1.5
more-itertools==4.2.0
mutagen==1.45.1
natsort==7.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.4
notebook==6.1.5
numba==0.52.0
numpy==1.19.4
oauthlib==3.1.0
olefile==0.46
packaging==20.8
pandas==1.1.4
pandocfilters==1.4.3
paramiko==2.7.1
parso==0.7.1
peewee==3.13.3
# Editable install with no version control (pelican==4.5.1)
-e /home/alanmatzumiya/.local/lib/python3.8/site-packages
pexpect==4.6.0
pickleshare==0.7.5
Pillow==8.0.1
pipenv==2020.11.15
playsound==1.2.2
plotly==4.14.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.12.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycups==2.0.1
PyGithub==1.54
Pygments==2.6.1
PyGObject==3.38.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.4.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyRFC3339==1.1
pyrsistent==0.17.3
python-apt==2.1.3+ubuntu1.3
python-dateutil==2.8.1
python-debian==0.1.37
pytube==10.0.0
pytz==2020.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
rapidfuzz==0.13.4
reportlab==3.5.47
requests==2.25.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
retrying==1.3.3
roman==2.0.0
rsa==4.6
SecretStorage==3.1.2
selenium==3.141.0
selenium-firefox==0.5.27
Send2Trash==1.5.0
sentry-sdk==0.19.4
simplejson==3.17.0
siphon==0.8.0
six==1.15.0
smartypants==2.0.1
soupsieve==2.0.1
spotipy==2.16.0
style==1.1.0
systemd-python==234
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
tldextract==3.1.0
tornado==6.1
tqdm==4.54.0
traitlets==5.0.5
typing-extensions==3.7.4.3
typogrify==2.0.7
ua-parser==0.10.0
ubuntu-advantage-tools==24.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
Unidecode==1.1.1
update==0.0.1
uritemplate==3.0.1
urllib3==1.26.2
usb-creator==0.3.7
uWSGI==2.0.19.1
vboxapi==1.0
virtualenv==20.1.0
virtualenv-clone==0.5.4
wadllib==1.3.4
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xkit==0.0.0
youtube-dl==2020.12.5
zipp==1.0.0
