/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #ffd;
    background: #ffd;

}

a {
    color: #149ddd;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    background: #149ddd;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
}

.back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
}

.back-to-top:hover {
    color: #fff;
    background: #2eafec;
    transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#header {
    transition: all ease-in-out 0.5s;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}
#main {
    margin-left: 300px;
}

@media (max-width: 1199px) {
    #header {
        left: -300px;    
    }
    #main {
        margin-left: 0;    
    }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu {
    padding-top: 30px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active>a i,
.nav-menu li:hover>a i {
    color: #149ddd;
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #149ddd;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 0px 0;
    overflow: hidden;
}


.section-title {
    padding: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #149ddd;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about .container {
    border-radius: 25px;
    background: url("../img/elephant_valley.png") top center;
    background-size: cover;
}
#about h3 {
    font-weight: 700;
    font-size: 26px;
    color: #149ddd;
}
.section-title h1 {
    font-weight: 700;
    font-size: 35px;
    color: #173ddd;
}

#about p span {
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

#about img {
    margin: 20px auto;
    display: block;
    width: 250px;
    border: 6px outset #149ddd;
}

.content ul {
    list-style: none;
    padding: 0;
}

.content ul li {
    padding-bottom: 10px;
}

.content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #149ddd;
}

.content p:last-child {
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/
#experience .container{
    border-radius: 25px;
    background: #44244c;
    background-size: cover;
};
.experience .experience-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.experience .experience-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}

.experience .experience-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 10px;
}

.experience .experience-item h5 {
    font-size: 16px;
    background: #3c848c;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience .experience-item ul {
    padding-left: 20px;
}

.experience .experience-item ul li {
    padding-bottom: 10px;
}

.experience .experience-item:last-child {
    padding-bottom: 0;
}

.experience .experience-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}


/*--------------------------------------------------------------
# Skills #skills .container {
	background: #44244c;
	background-size: cover;
}
--------------------------------------------------------------*/
.container {
	border-radius: 25px;
	background: #44244c;
	background-size: cover;
}

* .skills .container .container {
  border-radius: 25px;
  width: 90%;
  background: #ffd;
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
}

* .skills .skills {
  border-radius: 20px;
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  text-align: right;
  padding-right: 10px;
  color: #ffd
}
.skills .html {width: 85%; background-color: #44ab80;}
.skills.java {width: 75%; background-color: #44ab80;}
.skills.python {width: 90%; background-color: #44ab80;}
.skills.php {width: 80%; background-color: #44ab80;}
.skills.mysql {width: 70%; background-color: #44ab80;}
.skills.linux {width: 90%; background-color: #44ab80;}



/*--------------------------------------------------------------
# Education
--------------------------------------------------------------*/
#education .container{
    padding-bottom: 50px;
    border-radius: 25px;
    background-color: #44244c;
    background-size: cover;	
}
#academic {
    font-style: "overflow-x:auto";
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#academic th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #fdd;
}
#academic tr:hover {background-color: #44ab80;}

#academic a { 
  color: #942038
}  

#academic th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #149ddd;
  color: white;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/
#projects .container{
    padding-bottom: 50px;
    border-radius: 25px;
    background: url("../img/elephant_valley_right.png") top center;
    background-size: cover;
}
#projects {
    font-style: "overflow-x:auto";
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#academic th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #fdd;
}

#academic tr:hover {background-color: #44ab80;}

#academic a { 
  color: #942038
}  

#academic th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #149ddd;
  color: white;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact .container {
    padding-bottom: 300px;
    border-radius: 25px;
    background-color: #44244c;
    background-size: cover;	
};

}

.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #173b6c;
}

.contact .info .email p {
    padding-top: 5px;
}


.contact .php-email-form {
    border-radius: 25px;	
    width: 100%;
    padding: 30px;
    background: #49517e;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #37b3ed;
}
@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 9999;
    background: #040b14;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
}

@media (max-width: 1199px) {
    #footer {
        position: static;
        width: auto;;
    }
}
