<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alan Matzumiya</title>
    <meta name="description" content="CV de Alan Matzumiya">
    <meta name="keywords" content="CV, HTML,CSS,JavaScript, PHP">
    <meta name="author" content="Alan Daniel Matzumiya Zazueta">

    <!-- Favicon -->
    <link rel="icon" href="static/img/favicon.ico">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600%7CSource+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>-->


    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/vendor/aos/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/main.css">

</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button class="mobile-nav-toggle d-xl-none" type="button"><i class="icofont-navigation-menu"></i></button>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img alt="" class="img-fluid rounded-circle" src="static/img/Foto.jpeg">
                <h1 class="text-light"><a href="index.html">Alan Matzumiya</a></h1>
                <div class="social-links mt-3 text-center">
                    <a class="twiter" href="https://github.com/alanmatzumiya"><i class="bx bxl-github"></i></a>
                    <a class="facebook" href="http://www.facebook.com/alanmatzumiya"><i class="bx bxl-facebook"></i></a>
                    <a class="instagram" href="https://www.instagram.com/alanmatzumiya"><i
                            class="bx bxl-instagram"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/alanmatzumiya/"><i
                            class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav class="nav-menu">
                <ul>
                    <li class="active"><a href="#about"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#education"><i class="bx bx-book-content"></i> <span></span>Admin</span></a></li>
                    <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Email</span></a></li>
                </ul>
            </nav>
            <!-- .nav-menu -->
            <button class="mobile-nav-toggle d-xl-none" type="button"><i class="icofont-navigation-menu"></i></button>

        </div>
    </header>

    <main id="main">

        <!-- ======= Home Section ======= -->
        <section class="align-items-center" id="about">
            <div class="container" data-aos="fade-left">
                <div class="row align-items-center" data-aos="fade-right">
                    <div class="col-lg-5 text-center content" data-aos="fade-right">
                        <img alt="" class="img-fluid rounded-circle" src="static/img/Foto.jpeg">
                        <p>I'm <span class="typed" data-typed-items="Chemistry Engineer,Computer Programmer,
                        Also Graduate of a Master's Degree in Mathematical Science"></span></p>
                    </div>
                    <div class="col-lg-5 content" data-aos="fade-left">
                        <h3>PERSONAL INFORMATION</h3>
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Name:</strong> Alan Daniel Matzumiya
                                Zazueta
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 28 Years
                            <li><i class="icofont-rounded-right"></i> <strong>Hometown:</strong> Guaymas, Sonora
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Residency:</strong> Hermosillo, Sonora
                            </li>

                            <li><i class="icofont-rounded-right"></i> <strong>Movil Phone:</strong>
                                <a href="https://api.whatsapp.com/send?phone=526623648525&text=Hello!%20I%20got%20your%20cell%20phone%20from%20Github."
                                    target="_blanck"> 662-364-8525 </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>

        <hr>
        <!-- ======= Education Section ======= -->
        <section class="education" id="education">
            <div class="container">

                <div class="section-title">
                    <h2>Alan Matzumiya</h2>
                </div>
                <table id="academic" data-aos="fade-right">
                    <tr>
                        <th><strong>Repositories</strong></th><th></th><th></th>
                    </tr>
                    {% for repo in repos_user %}
                    <tr>
                        <td>
                            {{ repo }}
                        </td>
                        <td>
                            <a href="{{ '/git?action=clone&data=alanmatzumiya&repo=' + repo }}">
                                <button><strong>clone</strong></button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ '/git?action=push&data=alanmatzumiya&repo=' + repo }}">
                                <button><strong>push</strong></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                
                <div class="section-title">
                    <h2>CircuitalMinds</h2>
                </div>
                <table id="academic" data-aos="fade-right">
                    <tr>
                        <th><strong>Repositories</strong></th><th></th><th></th>
                    </tr>
                    {% for repo in repos_org %}
                    <tr>
                        <td>
                            {{ repo }}
                        </td>
                        <td>
                            <a href="{{ '/git?action=clone&data=CircuitalMinds&repo=' + repo }}">
                                <button><strong>clone</strong></button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ '/git?action=push&data=CircuitalMinds&repo=' + repo }}">
                                <button><strong>push</strong></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                
                <div class="section-title">
                    <h2>Containers</h2>
                </div>
                <table id="academic" data-aos="fade-right">
                    <tr>
                        <th>
                            <strong>Repository</strong>
                        </th>
                        <th>
                            <a href="/circuit_api?data=containers&option=update">
                                <button><strong>Update Api</strong></button>
                            </a>
                        </th>
                        <th>
                            <a href="/data_management?data=containers">
                                <button><strong>Update Data</strong></button>
                            </a>
                        </th>

                    </tr>
                    {% for repo in containers %}
                    <tr>
                        <td>
                            {{ repo }}
                        </td>
                        <td>
                            <a href="{{ '/git?action=clone&data=containers&repo=' + repo }}">
                                <button><strong>clone</strong></button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ '/git?action=push&data=containers&repo=' + repo }}">
                                <button><strong>push</strong></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="section-title">
                    <h2>Notebooks</h2>
                </div>
                <table id="academic" data-aos="fade-right">
                    <tr>
                        <th>
                            <strong>Repository</strong>
                        </th>
                        <th>
                            <a href="/circuit_api?data=notebooks&option=update">
                                <button><strong>Update Api</strong></button>
                            </a>
                        </th>
                        <th>
                            <a href="/data_management?data=notebooks">
                                <button><strong>Update Data</strong></button>
                            </a>
                        </th>
                    </tr>
                    {% for repo in notebooks %}
                    <tr>
                        <td>
                            {{ repo }}
                        </td>
                        <td>
                            <a href="{{ '/git?action=clone&data=notebooks&repo=' + repo }}">
                                <button><strong>clone</strong></button>
                            </a>
                        </td>
                        <td>
                            <a href="{{ '/git?action=push&data=notebooks&repo=' + repo }}">
                                <button><strong>push</strong></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>                

                <div class="section-title">
                    <h2>Scrapper</h2>
                    <form action="/get_data" method="get">
                        <input name="name" type="text">
                        <input type="submit" value="search">
                        <a href="/get_data?name=Top2020&action=playlist">
                            <input type="button" value="Get Playlist Top2020">
                        </a>
                        <a href="/get_data?name=myHub&action=playlist">
                            <input type="button" value="Get Playlist myHub">
                        </a>
                    </form>
                </div>

            </div>
        </section>

        <hr>
        <!-- ======= Contact Section ======= -->
        <section class="contact" id="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>alan.matzumiya@gmail.com</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="assets/php/sendemail.php " class="php-email-form" method="post" role="form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Name</label>
                                    <input class="form-control" data-msg="Please enter at least 4 chars"
                                        data-rule="minlen:4" id="name" name="name" type="text" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input class="form-control" data-msg="Please enter a valid email" data-rule="email"
                                        id="email" name="email" type="email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input class="form-control" data-msg="Please enter at least 8 chars of subject"
                                    data-rule="minlen:4" id="subject" name="subject" type="text" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" data-msg="Please write something for us"
                                    data-rule="required" id="message" name="message" rows="10"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent, thank you very much!</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; 2020 <strong><span>Alan Daniel Matzumiya Zazueta</span></strong>
            </div>
        </div>
    </footer>
    <!-- End  Footer -->

    <a class="back-to-top" href="#"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counterup/counterup.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/venobox/venobox.min.js"></script>
    <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/vendor/typed.js/typed.min.js"></script>
    <script src="static/vendor/aos/aos.js"></script>

    <script src="static/js/test.js"></script>
    <!-- <script src="assets/js/main.js"></script> -->
</body>

</html>
